<section data-section-id="{{ section.id }}" class="hero-image">
  {% if section.settings.hero_image != blank %}
  	<img src="{{ section.settings.hero_image | img_url: 'master'}}" 
  {% else %}
    <div class="onboard">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
</section>
{% schema %}
  {
    "name": "Hero Image",
    "settings": [
      {
          "id": "hero_image",
          "type": "image_picker",
          "label": "image"
      }
	],
	"presets": [
		{
			"name": "Hero Image",
      		"category": "Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
