@media only screen and (min-width: 540px){
    .site-logo img{
        width: 50%;
    }
}
@media only screen and (min-width: 670px){
    .mastheader .menu-btn svg{
        display: block;
        width: 2em;
        height: 2em;
    }
    .site-logo img{
        width: 50%;
    }
}